<div class="card-content">
    <div class="card-img">
        <img src="{{ curso.imagen }}" />
        <span>
            <h4>{{ curso.tutor }}</h4>
        </span>
    </div>
    <div class="card-desc">
        <h3>{{ curso.nombre }}</h3>
        <p>Has matriculado esta materia</p>
        <a href="#" class="btn-card">Info</a>
    </div>
</div>